{ user => '...' # Google username
, pass => '...' # Google password
, fb_url => '...' # ical link to Exported events from Facebook
, foursq_url => '...' # ICS from https://foursquare.com/feeds/
, strava_dir => '...' # directory with ICS files from tcx2ical.pl
}
